<ul>
    <li>
        {{!-- <a href="" {{action 'transition_to'}} > + add file </a> --}}
        {{#link-to 'home.add' (query-params contents_url=contents_url path=path)}} + add file {{/link-to}}
    </li>
    {{#each contents as |content|}}
    <li>
        {{#if (is-dir content.type)}}
            <p><a href="" {{action 'getContents' content}}> {{content.name}} </a></p>
        {{else}}
            <p> {{content.name}} </p>
        {{/if}}
        
        {{#if content.subContents}}
            {{content-view contents=content.subContents contents_url=contents_url path=content.path}}
        {{else}}
            {{#if content.isClicked}}
                No contents available.
            {{/if}}
        {{/if}}
    </li>
    {{/each}}
</ul>

{{yield}}