.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 50%; 
    height: 80%;
  }

  .video_area {
      height: 75%;
  }
  .video_area #video {
      width: 100%;
      height: 100%;
      display: block;
  }
  .video_area #canvas {
      width: 100%;
      height: 100%;
      display: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .form {
      margin: 15px;
  }
  .form .upload {
      margin-top: 10px;
  }
  
  .error_text {
      color: red;
  }