<div id="myModal" class="modal">

    <div class="modal-content">
        {{#unless isCaptured}}
            <a href="" {{action 'getUserMedia'}} > click here </a> to open web-camera.
        {{/unless}}
        <span class="close" {{action 'close'}} >&times;</span>
        <div class="video_area">
            <video id="video" autoplay></video>
            <canvas id="canvas" width="660" height="500"></canvas>
        </div>

        <br>

        {{#unless isCaptured}}
            {{#if isVideo}}
                <button class="capture" {{action "capturePic"}} > capture </button>
            {{/if}}
        {{/unless}}

        {{#if isCaptured}}
            <button class="recapture" {{action 'recapture'}} > Take again </button>
            <br>

            <div class="form">
                File Name : {{input value = fileName}}.jpg
                <br>
                Commit message : {{input value = message}}
                <br>
                {{#if error_msg}}
                    <div class="error_text">
                        {{error_msg}}
                    </div>
                    <br>
                {{/if}}
            <button class="upload" {{action 'upload'}} > upload </button>
            </div>
        {{/if}}

    </div>

</div>
{{yield}}