Welcome {{user.login}}  [<a href="" {{action 'logout'}}>logout</a>]

<br><br>

<a href="" {{action 'getRepos' user.repos_url 'repos'}}>My Repositories</a>

<ul>
    {{#each repos as |repo|}}
    <li>
        <p><a href="" {{action 'getContents' repo}}>{{repo.name}}</a></p>

        {{#if repo.contents}}
            {{content-view contents=repo.contents contents_url=repo.contents_url path=''}}
        {{else}}
            {{#if repo.isClicked}}
                No contents available.
            {{/if}}
        {{/if}}
    </li>

    {{else}}
        {{#if isClicked}}
            No repositories available.
        {{/if}}
    {{/each}}
</ul>


{{outlet}}